@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
* {
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}


a {
    color: inherit;
    text-decoration: none;
}

nav {
    border: 1px ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

#logo {
    margin-right: auto;
    margin-left: 10px;
    padding:0 32px ;
}

header {
  margin-left: 25px;
}

nav a { 
    padding: 14px;
}

nav li:hover,
nav li:focus {
border-top: 3px solid #0065fc;
color: #0065fc;
}

nav li {
    display: inline;
    padding: 42px 13px 42px 13px;
}


.recherche {
    display: flex;
}

header i {
    padding: 16px 19px;
    background-color: lightgray;
    border-radius: 16px 0 0 16px;
}

header input {
    padding-right: 70px;
    border: 1px;
    background-color: rgb(250, 247, 244);
    color: #0065fc;
}

input::placeholder {
    color: #0065fc;
}



header button {
    background-color: #0065fc;
    color:white ;
    font-size: 19px;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    padding: 0 24px;
    border: none;
    cursor: pointer;
}

.filtres {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 20px;
  width: 96%;
}


.filtres h2 {
  margin-left: -6px;
  margin-right: 20px;
  margin-bottom: 0;
}

.filtres ul{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.filtres li {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  padding-right: 15px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  border-left: none; 
    }


.filtres i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #deebff;
  color: #0065fc;      
}  

.filtres label {
  padding: 0 20px 0 10px;
  font-size: 16px;
  font-weight: bold;
}
    
   

.filtres .fa-solid {
  color: #0065fc;
    padding: 11px;
    background-color: rgb(160, 225, 245);   
    border-radius: 50%;
    margin: 1px;
}


.filtres li:hover,
.filtres li :focus {
  cursor: pointer;
  color: #0065fc;
  background-color: #deebff;  
}



.info {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.info .fa-solid {
  width: 32px;
    height: 32px;
    border: 1px solid darkgray;
    color: #0065fc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -5px;
    margin-right: 3px; 
}



.blue {
    color: #0065fc;
}

.gray {
    color: rgb(202, 199, 199);
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: auto;
  width: 96%;
  margin-left: 12px;
}


.most-popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px 16px 16px 16px;
  width: 30%;
  margin: 32px;
  background-color: lightgray;
}

.most-popular h2 {
    display: flex;
    justify-content: space-between;
    margin: 50px;
    
}

.most-popular ul {
  height: 100%;
}

.carte_popular {
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 16px 16px 16px 16px ;
    width: 96%;
    height: 200px;
    background-color: white;    
  }
  
  .carte_popular:hover,
  .carte_popular:focus {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 10px 10px 10px gray;
  }
  
  
  .texte_popular {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
  }

  
  .note_popular {
    display: flex;
    flex-direction: row;
    justify-items: end;
    margin: 55px 0 0 0;
    color: #0065fc; }
  


.apartments-list {
  display: flex;
  margin: 32px;
  flex-wrap: wrap;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  width: 65%;
  height: 881px;
  background-color: lightgrey;
}

.apartments-list h2 {
  width: 90%;
  margin: 15px 0 10px 30px;
}


.apartments-list ul {
  display: flex;
  flex-wrap: wrap;
}


  .carte_hebergement {
    display: flex;
    flex-direction: column;
    margin: 50px;
    margin-bottom: 40px;
    border: 2px white solid;
    border-radius: 30px;
    width: 86%;
    height: 240px;
    background-color: white;  
  }

  .img_hebergement {
    object-fit: cover;
    border: 2px white solid;
    border-radius: 30px 30px 0 0;
    height: 130px; 
  }

  .texte_hebergement {
    color: black;
  }
  
  .texte_hebergement h3 {
    margin: 5px 0 0 5px;
  }

  .texte_hebergement p {
    margin: 5px 0 10px 5px;
  }
  
  .note_hebergement {
    margin: 0 0 0 5px;
    color: #0065fc;
  }
  
  .carte_hebergement:hover {
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow: 10px 10px 10px gray;
  }

  .afficher {
    padding-left: 30px;
    font-weight: bold;
    color: black;
  }

   



.activites-marseille {
    margin: auto;
    margin-left: 20px;
    width: 98%;
    
}

.activites-marseille h2 {
    margin: auto;
    margin-top: 40px;
    width: 100%;
  }

.plaisir {
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    margin: 20px; 
    width: 100%;
    height: 600px;
    font-weight: bold;  
    color: black; 
}

.port {                    
    overflow: hidden;
    margin: auto;
    margin-left: 0;
    border-radius: 30px;
    box-shadow:0 1px 5px 5px #f2f2f2;
    width: 23%;
    height: 100%; 
  }
  
.port:hover,
.port:focus {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
  }
  
.img_port {
    object-fit: cover;
    width: 100%;
    height: 90%;
  }
  
.pomegues figure {             
    margin-top: 0;
  }
  
.pomegues {
    overflow: hidden;
    margin: auto;
    border-radius: 30px;
    width: 23%;
    height: 50%;
    box-shadow:0 1px 5px 5px #f2f2f2;
  }
  
.pomegues:hover,
.pomegues:focus {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
  }
  
.img_pomegues {
    object-fit: cover;
    width: 100%;
    height: 80%;
  }
  
  figure.frioul {            
    margin-bottom: 0;
  }
  
  .frioul {
    overflow: hidden;
    margin: auto;
    border-radius: 30px;
    width: 23%;
    height: 42%;
    box-shadow:0 1px 5px 5px #f2f2f2;
  }
  
  .frioul:hover,
  .frioul:focus {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
  }
  
  .img_frioul {
    object-fit: cover;
    width: 100%;
    height: 75%;
  }
  
  .calanques {                
    overflow: hidden;
    margin: auto;
    margin-left: 30px;
    border-radius: 30px;
    width: 23%;
    height: 100%;
    box-shadow:0 1px 5px 5px #f2f2f2;
  }
  
  .calanques:hover,
  .calanques:focus {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s;
  }
  
  .img_calanques {
    object-fit: cover;
    width: 100%;
    height: 90%;
  }
  
  figure.garde {              
    margin-right: 0;
    margin-top: 0;
  }
  
  .garde {
    overflow: hidden;
    margin: auto;
    border-radius: 30px;
    width: 23%;
    height: 42%;
    box-shadow:0 1px 5px 5px #f2f2f2; 
  }
  
  .garde:hover,
  .garde:focus {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
  }
  
  .img_garde {
    object-fit: cover;
    width: 100%;
    height: 80%;
  }
  
  figure.longchamp {          
    margin-bottom: 0;
    margin-right: 0;
  }
  
  .longchamp {
    overflow: hidden;
    margin: auto;
    border-radius: 30px;
    width: 23%;
    height: 50%;
    box-shadow:0 1px 5px 5px #f2f2f2; 
  }
  
  .longchamp:hover,
  .longchamp:focus {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
  }
  
  .img_longchamp {
    object-fit: cover;
    width: 100%;
    height: 80%;
  }





 
footer>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }






  footer {
    display:flex ;
    flex-wrap: wrap;
    background-color: lightgray;
    width: 100%;
    margin: auto;
   }

   footer section {
    margin: auto;
   }

   footer ul, footer li {
    margin: 0 0 8px 0;
    padding: 0;
   }

   
 footer li:hover,
 footer li:focus {
  color: #0065fc;
 }


