@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css');
* {
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    border: 1px ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

#logo {
    margin-right: auto;
    padding:0 32px ;
}

nav a { 
    padding: 32px;
}

nav li:hover,
nav li:focus {
border-top: 3px solid #0065fc;
color: #0065fc;
}

nav li {
    display: inline;
    padding: 32px;
}


.recherche {
    display: flex;
}

header i {
    padding: 16px 19px;
    background-color: lightgray;
    border-radius: 16px 0 0 16px;
}

header input {
    padding-right: 70px;
    border: 1px;
    background-color: rgb(250, 247, 244);
    color: #0065fc;
}

input::placeholder {
    color: #0065fc;
}



header button {
    background-color: #0065fc;
    color:white ;
    font-size: 19px;
    font-weight: bold;
    border-radius: 0 16px 16px 0;
    padding: 0 24px;
    border: none;
    cursor: pointer;
}

.filtres {
    display: flex ;
    align-items: center;
    justify-content: flex end;
    flex-wrap: wrap;
    gap: 16px 32px;
}

.filtres li {
    display: inline;
    font-weight: bold;
    margin-left: 64px;
    border: 2px solid lightgray;
    border-radius: 16px;
    padding: 16px;
    margin: 32px;
    padding: 8px 16px 8px 0px;
    flex-wrap: wrap;
    }
    
   

.filtres .fa-solid {
    color: #0065fc;
    padding: 16px;
    background-color: lightgray;   
    border-radius: 50%;
    margin: -2px;
     
}


.filtres li :hover,
.filtres li :focus {
transform: scale(1.2);
}

.info {
    display: flex;
    align-items: center;
}

.info .fa-solid {
    width: 32px;
    height: 32px;
    border: 1px solid darkgray;
    color: #0065fc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px; 
}


.blue {
    color: #0065fc;
}

.gray {
    color: rgb(202, 199, 199);
}

.liste {
    display:flex;

}

.apartments-list {
    display:flex;
    background-color: lightgrey;
    width: 70%;
    border-radius: 16px 16px 16px 16px ;
    flex-direction: column;
    margin: 32px;
}


.apartments-list ul {
    display:flex ;
    flex-wrap: wrap;
    display: inline;
    
}

.apartments-list li {
    
        display : inline;
}


.apartments-list figure {
        width: 25%;
        text-align: left;
        text-indent: 0;
        background-color: aliceblue;
        margin: 1em;
        padding: 1em;
        border-radius: 16px 16px 16px 16px;
        display: inline-block;
       }


.apartments-list img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.apartments-list figure:hover,
.apartments-list figure:focus {
    transform: scale(1.2);
}

.most-popular {
    display:flex;
    background-color: lightgrey;
    width: 30%;
    border-radius: 16px 16px 16px 16px ;
    flex-direction: column;
    margin: 32px;

}

.most-popular ul {
    display:flex ;
    flex-wrap: wrap;
    display: inline;
    
}

.most-popular li {
    display: inline;
}


.most-popular figure {
    width: 50%;
    text-align: left;
    text-indent: 0;
    background-color: aliceblue;
    margin: 1em;
    padding: 1em;
    border-radius: 16px 16px 16px 16px;
    display: inline-block;
    }
  

  .most-popular img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

 

  .most-popular figure:hover,
  .most-popular figure:focus {
    transform: scale(1.2)
  }


.activites-marseille {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}

.activites-marseille figure {
    width: 15%;
    text-align: left;
    text-indent: 0;
    background-color: aliceblue;
    margin: 1em;
    padding: 1em;
    border-radius: 16px 16px 16px 16px;
    display: inline-block;
}  

.activites-marseille img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}






 
footer>* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }






  footer {
    display:flex ;
    flex-wrap: wrap;
    background-color: lightgray;
    margin: auto;
   }

   footer div {
    margin: auto;
   }

   footer ul, footer li {
    margin: 0;
    padding: 0;
   }
 


